<div class="productos-grid">
  <div *ngFor="let prod of productos" class="product-card">

    <div class="product-image-container">
      <img [src]="prod.image" [alt]="prod.title" class="product-img">
    </div>

    <h3 class="product-title">{{ prod.title }}</h3>

    <p class="product-desc">{{ prod.description }}</p>

    <h4 class="product-price">Precio: ${{ prod.price }}</h4>

    <button (click)="agregarAlCarrito(prod)" class="btn-add">
      Añadir al carrito
    </button>

  </div>
</div>
